<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="/logo.svg" alt="NULLAM logo" />
    </div>
    <nav class="nav">
      <a
        routerLink="/events"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        aria-label="Avaleht"
      >AVALEHT</a>
      <a
        routerLink="/events/new"
        routerLinkActive="active"
        class="nav-link"
        aria-label="Ürituse Lisamine"
      >ÜRITUSE LISAMINE</a>
    </nav>
    <div class="symbol">
      <img src="/symbol.svg" alt="Organization Symbol" />
    </div>
  </div>
</header>
