<div class="participant-create-wrapper">
  <div class="card">
    <div class="card-header">Osavõtjate lisamine</div>

    <form [formGroup]="participantForm" (ngSubmit)="addParticipant()">
      <div *ngIf="error()" class="alert alert-danger">{{ error() }}</div>
      <div class="mb-2 offset-md-3">
        <div class="form-check form-check-inline radio-buttons">
          <input class="form-check-input" type="radio" formControlName="type" value="PERSON" id="personType" />
          <label class="form-check-label" for="personType">Eraisik</label>
        </div>
        <div class="form-check form-check-inline radio-buttons">
          <input class="form-check-input" type="radio" formControlName="type" value="COMPANY" id="companyType" />
          <label class="form-check-label" for="companyType">Ettevõte</label>
        </div>
      </div>

      <div *ngIf="participantForm.get('type')?.value === 'PERSON'" class="mb-0">
        <div class="form-row">
          <label for="firstName">Eesnimi:</label>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input
                type="text"
                id="firstName"
                matInput
                formControlName="firstName"
                [matAutocomplete]="autoFirstName"
                [class.is-invalid]="participantForm.get('firstName')?.invalid && participantForm.get('firstName')?.touched">
              <mat-autocomplete #autoFirstName="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectParticipant($event.option.value)">
                <mat-option *ngFor="let participant of filteredFirstNameOptions | async" [value]="participant">
                  {{ participant.firstName }} {{ participant.lastName }}<span *ngIf="participant.personalCode"> ({{ participant.personalCode }})</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div
              class="error-msg"
              *ngIf="participantForm.get('firstName')?.invalid && participantForm.get('firstName')?.touched"
            >
              {{ participantForm.get('firstName')?.errors?.['required'] ? 'Eesnimi on kohustuslik' :
              participantForm.get('firstName')?.errors?.['serverError'] || 'Viga eesnime sisestamisel' }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="lastName">Perenimi:</label>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input
                type="text"
                id="lastName"
                matInput
                formControlName="lastName"
                [matAutocomplete]="autoLastName"
                [class.is-invalid]="participantForm.get('lastName')?.invalid && participantForm.get('lastName')?.touched"/>
              <mat-autocomplete #autoLastName="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectParticipant($event.option.value)">
                <mat-option *ngFor="let participant of filteredLastNameOptions | async" [value]="participant">
                  {{ participant.firstName }} {{ participant.lastName }}<span *ngIf="participant.personalCode"> ({{ participant.personalCode }})</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div
              class="error-msg"
              *ngIf="participantForm.get('lastName')?.invalid && participantForm.get('lastName')?.touched"
            >
              {{ participantForm.get('lastName')?.errors?.['required'] ? 'Perekonnanimi on kohustuslik' :
              participantForm.get('lastName')?.errors?.['serverError'] || 'Viga perekonnanime sisestamisel' }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="personalCode">Isikukood:</label>
          <div class="input-container">
            <input
              id="personalCode"
              formControlName="personalCode"
              [class.is-invalid]="participantForm.get('personalCode')?.invalid && participantForm.get('personalCode')?.touched"
            />
            <div class="error-msg" *ngIf="participantForm.get('personalCode')?.invalid && participantForm.get('personalCode')?.touched">
              {{ participantForm.get('personalCode')?.errors?.['required'] ? 'Isikukood on kohustuslik' :
              participantForm.get('personalCode')?.errors?.['serverError'] || 'Viga isikukoodi sisestamisel' }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="participantForm.get('type')?.value === 'COMPANY'">
        <div class="form-row">
          <label for="companyName">Ettevõtte nimi:</label>
          <div class="input-container">
            <mat-form-field class="full-width">
              <input
                type="text"
                id="companyName"
                matInput
                formControlName="companyName"
                [matAutocomplete]="autoCompanyName"
                [class.is-invalid]="participantForm.get('companyName')?.invalid && participantForm.get('companyName')?.touched">
              <mat-autocomplete #autoCompanyName="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectParticipant($event.option.value)">
                <mat-option *ngFor="let participant of filteredCompanyNameOptions | async" [value]="participant">
                  {{ participant.companyName }}<span *ngIf="participant.registrationCode"> ({{ participant.registrationCode }})</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div
              class="error-msg"
              *ngIf="participantForm.get('companyName')?.invalid && participantForm.get('companyName')?.touched"
            >
              {{ participantForm.get('companyName')?.errors?.['required'] ? 'Ettevõtte nimi on kohustuslik' :
              participantForm.get('companyName')?.errors?.['serverError'] || 'Viga ettevõtte nime sisestamisel' }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="registrationCode">Registrikood:</label>
          <div class="input-container">
            <input
              id="registrationCode"
              formControlName="registrationCode"
              [class.is-invalid]="participantForm.get('registrationCode')?.invalid && participantForm.get('registrationCode')?.touched"
            />
            <div class="error-msg" *ngIf="participantForm.get('registrationCode')?.invalid && participantForm.get('registrationCode')?.touched">
              {{ participantForm.get('registrationCode')?.errors?.['required'] ? 'Registrikood on kohustuslik' :
              participantForm.get('registrationCode')?.errors?.['pattern'] ? 'Registrikood peab olema 8-kohaline number' :
                participantForm.get('registrationCode')?.errors?.['serverError'] || 'Viga registrikoodi sisestamisel' }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <label for="participantCount">Osalejate arv:</label>
          <div class="input-container">
            <input
              type="number"
              id="participantCount"
              formControlName="participantCount"
              [class.is-invalid]="participantForm.get('participantCount')?.invalid && participantForm.get('participantCount')?.touched"
            />
            <div class="error-msg" *ngIf="participantForm.get('participantCount')?.invalid && participantForm.get('participantCount')?.touched">
              {{ participantForm.get('participantCount')?.errors?.['min'] ? 'Osalejate arv peab olema positiivne number' :
              participantForm.get('participantCount')?.errors?.['serverError'] || 'Viga osalejate arvu sisestamisel' }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <label for="paymentMethod">Maksmisviis</label>
        <div class="input-container">
          <select
            id="paymentMethod"
            formControlName="paymentMethod"
            [class.is-invalid]="participantForm.get('paymentMethod')?.invalid && participantForm.get('paymentMethod')?.touched"
          >
            <option [ngValue]="null"></option>
            <option value="CARD">Kaart</option>
            <option value="BANK_TRANSFER">Pangaülekanne</option>
            <option value="CASH">Sularaha</option>
          </select>
          <div class="error-msg" *ngIf="participantForm.get('paymentMethod')?.invalid && participantForm.get('paymentMethod')?.touched">
            {{ participantForm.get('paymentMethod')?.errors?.['required'] ? 'Maksmisviis on kohustuslik' :
            participantForm.get('paymentMethod')?.errors?.['serverError'] || 'Viga maksmisviisi valimisel' }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <label for="additionalInfo">Lisainfo:</label>
        <div class="input-container">
          <textarea
            id="additionalInfo"
            formControlName="additionalInfo"
            [class.is-invalid]="participantForm.get('additionalInfo')?.invalid && participantForm.get('additionalInfo')?.touched"
          ></textarea>
          <div
            class="error-msg"
            *ngIf="participantForm.get('additionalInfo')?.invalid && participantForm.get('additionalInfo')?.touched"
          >
            {{ participantForm.get('additionalInfo')?.errors?.['maxlength'] ?
            'Lisainfo ei tohi ületada ' + (participantForm.get('type')?.value === 'PERSON' ? 1000 : 5000) + ' tähemärki' :
            participantForm.get('additionalInfo')?.errors?.['serverError'] || 'Viga lisainfo sisestamisel' }}
          </div>
        </div>
      </div>

      <div class="form-actions">
        <a routerLink="/events" class="btn-grey">Tagasi</a>
        <button type="submit" class="btn-blue">Salvesta</button>
      </div>
    </form>
  </div>
</div>
