<div class="participant-list-wrapper">
  <div class="card">
    <div class="card-header">
      Osavõtjad
    </div>
    <div class="card-body">
      <section *ngIf="event()" class="event-info mb-4">
        <div class="event-row">
          <div class="event-label">Ürituse nimi:</div>
          <span class="event-value">{{ event()!.name }}</span>
        </div>
        <div class="event-row">
          <div class="event-label">Toimumisaeg:</div>
          <span class="event-value">{{ event()!.dateTime | date:'dd.MM.yyyy' }}</span>
        </div>
        <div class="event-row">
          <div class="event-label">Koht:</div>
          <span class="event-value">{{ event()!.location || 'Määramata' }}</span>
        </div>
      </section>

      <section class="participants-list mb-4">
        <div class="event-label">Osavõtjad:</div>
        <div class="participants-list" *ngIf="participants().length; else noParticipants">
          <div class="participant-row" *ngFor="let p of participants(); let i = index; trackBy: trackById">

            <div class="participant-col number">
              {{ i + 1 }}.
            </div>

            <div class="participant-col name">
              <ng-container *ngIf="p.type === 'PERSON'">
                {{ p.firstName }} {{ p.lastName }}
              </ng-container>
              <ng-container *ngIf="p.type === 'COMPANY'">
                {{ p.companyName || 'Nimetu ettevõte' }}
              </ng-container>
            </div>

            <div class="participant-col code">
              <ng-container *ngIf="p.type === 'PERSON'">
                {{ p.personalCode }}
              </ng-container>
              <ng-container *ngIf="p.type === 'COMPANY'">
                {{ p.registrationCode }}
              </ng-container>
            </div>

            <div class="participant-col actions">
              <a
                [routerLink]="['/participants', p.id]"
                class="uppercase-link add-event-link"
              >VAATA</a>
              <a
                href="#"
                (click)="deleteParticipant(p.id!); $event.preventDefault();"
                class="uppercase-link add-event-link"
              >KUSTUTA</a>
            </div>

          </div>
        </div>

        <ng-template #noParticipants>
          <div class="no-participants">Osavõtjaid pole</div>
        </ng-template>
      </section>
    </div>

    <div class="card-header">Osavõtjate lisamine</div>
    <div *ngIf="error()" class="alert alert-danger">{{ error() }}</div>
    <form [formGroup]="participantForm" (ngSubmit)="addParticipant()">


      <div class="mb-2 offset-md-3">
        <div class="form-check form-check-inline radio-buttons">
          <input
            class="form-check-input"
            type="radio"
            formControlName="type"
            value="PERSON"
            id="personType"
          />
          <label class="form-check-label" for="personType">Eraisik</label>
        </div>
        <div class="form-check form-check-inline radio-buttons">
          <input
            class="form-check-input"
            type="radio"
            formControlName="type"
            value="COMPANY"
            id="companyType"
          />
          <label class="form-check-label" for="companyType">Ettevõte</label>
        </div>
      </div>

      <div *ngIf="participantForm.get('type')?.value === 'PERSON'" class="mb-0">
        <div class="form-row">
          <label for="firstName">Eesnimi:</label>
          <input
            id="firstName"
            formControlName="firstName"
            [class.is-invalid]="participantForm.get('firstName')?.invalid && participantForm.get('firstName')?.touched"
          />
          <div class="error-msg"
               *ngIf="participantForm.get('firstName')?.invalid && participantForm.get('firstName')?.touched">
            Eesnimi on kohustuslik
          </div>
        </div>

        <div class="form-row">
          <label for="lastName">Perenimi:</label>
          <input
            id="lastName"
            formControlName="lastName"

            [class.is-invalid]="participantForm.get('lastName')?.invalid && participantForm.get('lastName')?.touched"
          />
          <div class="error-msg"
               *ngIf="participantForm.get('lastName')?.invalid && participantForm.get('lastName')?.touched">
            Perekonnanimi on kohustuslik
          </div>
        </div>
        <div class="form-row">
          <label for="personalCode">Isikukood:</label>
          <input
            id="personalCode"
            formControlName="personalCode"

            [class.is-invalid]="participantForm.get('personalCode')?.invalid && participantForm.get('personalCode')?.touched"
          />
          <div class="error-msg"
               *ngIf="participantForm.get('personalCode')?.invalid && participantForm.get('personalCode')?.touched">
            Isikukood on kohustuslik
          </div>
        </div>
      </div>

      <div *ngIf="participantForm.get('type')?.value === 'COMPANY'">
        <div class="form-row">
          <label for="companyName">Ettevõtte nimi:</label>
          <input
            id="companyName"
            formControlName="companyName"
            [class.is-invalid]="participantForm.get('companyName')?.invalid && participantForm.get('companyName')?.touched"
          />
          <div
            class="error-msg"
            *ngIf="participantForm.get('companyName')?.invalid && participantForm.get('companyName')?.touched"
          >
            Ettevõtte nimi on kohustuslik
          </div>
        </div>

        <div class="form-row">
          <label for="registrationCode">Registrikood:</label>
          <input
            id="registrationCode"
            formControlName="registrationCode"
            [class.is-invalid]="participantForm.get('registrationCode')?.invalid && participantForm.get('registrationCode')?.touched"
          />
          <div
            class="error-msg"
            *ngIf="participantForm.get('registrationCode')?.invalid && participantForm.get('registrationCode')?.touched"
          >
            Registrikood on kohustuslik
          </div>
        </div>
      </div>

      <div class="form-row">
        <label for="paymentMethod">Maksmisviis</label>
        <select
          id="paymentMethod"
          formControlName="paymentMethod"
          [class.is-invalid]="participantForm.get('paymentMethod')?.invalid && participantForm.get('paymentMethod')?.touched"
        >
          <option [ngValue]="null"></option>
          <option value="CARD">Kaart</option>
          <option value="BANK_TRANSFER">Pangaülekanne</option>
          <option value="CASH">Sularaha</option>
        </select>

        <div class="error-msg"
             *ngIf="participantForm.get('paymentMethod')?.invalid && participantForm.get('paymentMethod')?.touched">
          Maksmisviis on kohustuslik
        </div>
      </div>


      <div class="form-row">
        <label for="additionalInfo">Lisainfo:</label>
        <textarea
          id="additionalInfo"
          formControlName="additionalInfo"

        ></textarea>
      </div>


      <div class="form-actions">
        <a routerLink="/events" class="btn-grey">Tagasi</a>
        <button type="submit" class="btn-blue">Salvesta</button>
      </div>

    </form>

  </div>
</div>
