<footer class="footer">
  <div>
    <h4>Curabitur</h4>
    <p>Emauris</p>
    <p>Kríngilla</p>
    <p>Öin magna sem</p>
    <p>Kelementum</p>
  </div>
  <div>
    <h4>Fusce</h4>
    <p>Econsectetur</p>
    <p>Ksollitciudin</p>
    <p>Omvulputate</p>
    <p>Nunc fringilla tellu</p>
  </div>
  <div>
    <h4 class="shared-heading">Kontakt</h4>
    <div class="contact-section">
      <h6>Peakontor: Tallinnas</h6>
      <p>Väike-Ameerika 1, 11415 Tallinn</p>
      <p>Telefon: 605 4450</p>
      <p>Faks: 605 3186</p>
    </div>
  </div>
  <div>
    <div class="contact-section">
      <h6>Harukontor: Võrus</h6>
      <p>Oja tn 7 (külastusaadress)</p>
      <p>Telefon: 605 3330</p>
      <p>Faks: 605 3155</p>
    </div>
  </div>
</footer>
