<footer class="footer">
  <div>
    <h4>Curabitur</h4>
    <p>Emauris</p>
    <p>Kríngilla</p>
    <p>Öin magna sem</p>
    <p>Kelementum</p>
  </div>
  <div>
    <h4>Fusce</h4>
    <p>Econsectetur</p>
    <p>Ksollitciudin</p>
    <p>Omvulputate</p>
    <p>Nunc fringilla tellu</p>
  </div>
  <div>
    <h4>Kontakt</h4>
    <p><strong>Peakontor: Tallinnas</strong></p>
    <p>Väike-Ameerika 1, 11415 Tallinn</p>
    <p>Telefon: 605 4450</p>
    <p>Faks: 605 3186</p>

    <p><strong>Harukontor: Võrus</strong></p>
    <p>Oja tn 7 (külastusaadress)</p>
    <p>Telefon: 605 3330</p>
    <p>Faks: 605 3155</p>
  </div>
</footer>

